[submodule "plant-database"]
	path = src/front/data/plant-database
	url = https://github.com/M-A-P-Organisation/plant-database
[submodule "bot"]
	path = discord-bot
	url = https://github.com/M-A-P-Organisation/discord-bot
