dossier/
__pycache__/
.idea/
.vscode/
.idea
node_modules
src/plant.js
data/choice.txt
data/hum.txt
data/temp_0.txt
data/temp_10.txt
data/temp_20.txt
data/temp_30.txt
data/old.db
bot.js
.env
node_modules
plantClass.js

app.css
*.css.map
