body{
    background-color: #1C1C1C ;
    color: #A4A4A4;
    font-family : "Times New Roman", Times, serif;
}
div#stat{
    background-color: #2E2E2E;
    border-radius: 15px;
    padding: 1em;
}
h1{text-decoration:underline;}
div#menu{
    transition: 1s;
}
