@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
body {
    background-color:  #325C34;
    padding: 0.5em;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
}

.dataplace {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 100px;
    border-radius: 20px;
    background:#5AA65F ;
    padding: 0.5em;
}