/* variables */
$mainColor: #325C34;
$secondaryColor: #5AA65F;

/* not used in the scss but for the charts */
$thirdColor: #46814A;
$fourthColor: #509455;

$fontMainColor: black;
$fontSecondaryColor: grey;