body{
	background-color: #424242;
}
div#menu{
	background-color: grey;
	border-radius: 15px;
	padding: 0.5em;
	width: 50px;
}
button{
	border-radius: 10px;
}
div#main_box{
	background-color: grey;
	width: 350px;
	height: 250px;
	position: absolute;
	top: 20px;
	left: 100px;
	border-radius: 15px;
}